


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffbfb;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff9f9;
}



main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.intro p {
    line-height: 1.6;
}

.motivos,
.activities {
    margin-top: 20px;
}

h1 {
    color: rgb(255, 253, 253);
}
h2 {
    color: #000000;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}
h1 {
  color: #ff0000;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000000;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

footer {

    color: #ff0606;
    background-color: white;
}